html,
body {
  width: 100%;
}

#root {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#content {
  width: 80%;
}

#map {
  display: flex;
  width: 100%;
  height: 800px;
  padding: 0;
  margin: 0;
}

#submissions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#riskContainer {
  display: flex;
  justify-content: space-between;
}

#riskContainer > h1 {
  font-size: 80px;
}

.tableFullWidth {
  width: 100%;
}

.submission {
  width: 400px;
  height: 200px;
}

.dropzone {
  width: 400px;
}

.dropzone .dz-preview {
  width: 100px;
  height: 100px;
}
