html,
body {
  width: 100%;
}

#root {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#content {
  width: 80%;
}

#map {
  display: flex;
  width: 100%;
  height: 800px;
  padding: 0;
  margin: 0;
}

#submissions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.submission {
<<<<<<< HEAD
    width: 400px;
    height: 200px;
}

.dropzone {
    width: 400px;
}

.dropzone .dz-preview {
    width: 100px;
    height: 100px;
  }
=======
  width: 400px;
}
>>>>>>> 3669fc431c50b5624f70fb788596b3a31a8ff8ed
