html,
body {
  width: 100%;
}

#root {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#content {
  width: 100%;
}

#map {
  display: flex;
  width: 100%;
  height: calc(100vh - 150px);
  height: -webkit-calc(100vh - 150px);
  /* height: 400px; */
  padding: 0;
  margin: 0;
}

#submissions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.submission {
  height: 100%;
  width: 50%;
}

.dropzone {
  width: 100%;
}

.dz-details,
.dz-success-mark,
.dz-error-mark,
.dz-image {
  display: none !important;
}

.dz-preview {
  display: flex !important;
  width: 100%;
  min-height: calc(100px - 32px) !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.dz-progress {
  position: relative !important;
  width: 80% !important;
  left: 0 !important;
  top: 0 !important;
}

#healthy-dropzone {
  background-color: darkseagreen;
}

#infected-dropzone {
  background-color: indianred;
}

#riskContainer {
  display: flex;
  justify-content: space-between;
}

#riskContainer > h1 {
  font-size: 80px;
}

.tableFullWidth {
  width: 100%;
}

#risk {
  display: none;
}

#thanksMessage {
  display: none;
}
